@media screen and (max-width: 1024px) {
    .header {
        width: 1024px;
    }
    .main-container {
        padding: 0 60px;
    }
    .main::before {
        width: 96%;
    }
    .main::after {
        width: 92%;
    }
    .name-of-experience {
        width: 375px;
    }
    .grid {
        grid-template-columns: 256px 256px 256px 256px;
    }
    .publications {
        height: 689px;
    } 
    .publication-img {
        width: 281px;
    }
    
    
    .team {
        height: 528px;
    } 
    .main-photo {
        height: 528px;
    }
    /*pages*/
    /*service-entry*/
    .service-publications {
        height: 630px;
    }
    .services-area-list {
        width: 422px;
    }
    /*about us*/
    .a-wrap-legal-services {
        padding-top: 176px;
        height: 640px;
    }
    .a-about-legal-services {
        width: 486px;
    }
    .team-photo {
        background-image: url(/images/photo/team-photo-tablet.png);
        height: 312px;
    }
    .quality-text-wrap {
        width: 482px;
    }
    .a-size {
        width: 196px;
    }
    /*team*/
    .main-container-mobile {
        padding: 0 180px;
    }
    .title {
        padding: 176px 0 0;
    }
    .team-photos {
        width: 262px;
    }
    
}

@media screen and (max-width: 415px) {
    .container {
        padding: 0 30px;
    }
    .header {
        width: 415px;
        padding: 0 15px;
        z-index: 2;
    }
    .header-adress {
        left: 0;
        position: absolute;
        top: 0;
        height: 45px;
        width: 415px;
        align-items: center;
        background-color: rgba(245, 245, 250, 0.2);
        padding: 0 15px;
    }
    .language:after {
        display: none;
        overflow: hidden;
    }
    .tel::after {
        display: none;
        overflow: hidden;
    }
    .name-adres {
        display: none;
        overflow: hidden;
    }
    .icon-header-facebook {
        display: none;
        overflow: hidden;
    }
    .header-mobile {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .header-mobile-left {
        display: flex;
        height: 57px;
    }
    
    .tel {
        position: absolute;
        right: 15px;
        display: flex;
        align-items: center;
    }
    .icon-header-logo {
        height: 32px;
        width: 62px;
    }
    .icon-header-slash {
        display: block;
        width: 12px;
        height: 26px;
        margin: 0 4px;
    }
    .header-services {
        display: block;
        font-size: 20px;
        line-height: 24px;
        color: #fff;
        font-weight: 400;
    }
     /*burger icon*/
     .burger-icon {
        border: none;
        background: none;
        width: 32px;
        height: 32px;
        padding: 10px 7px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .burger-icon::before,
    .burger-icon::after  {
        content: "";
        display: block;
        width: 18px;
        height: 2px;
        background: #fff;
    }  
    .burger-icon-inner {
        display: block;
        width: 18px;
        height: 2px;
        background: #fff;
    }
    .burger {
        height: 32px;
    }
    
    .nav {
        display: none;
    }
    /*menu-open*/
    .header.menu-open {
        position: absolute;
        width: 100%;
    }
    .menu-open .header-right {
        height: 667px;
        background: #323264;
        position: absolute;
        z-index: 5;
        min-width: 100%;
        left: 0px;
        top: 0px;
    }
    .menu-open .burger-icon {
        position: absolute;
        top: 335px;
        right: 27px;
    }
    .menu-open .burger-icon::before {
        transform: rotate(45deg);
        transform-origin: 0 3px;
        background: #EC6F5D;
        position: relative;
        left: 4px;
        z-index: 10;
    }
    .menu-open .burger-icon::after {
        transform: rotate(-45deg);
        transform-origin: 0 12px;
        position: relative;
        left: 13px;
        background: #EC6F5D;
        z-index: 10;
    }
    .menu-open .burger-icon-inner {
        
        display: none;
    }
    .menu-open .nav {
        display: flex;
        width: 96%;
        position: absolute;
        left: 8px;
        top: 316px;
        height: 351px;
    }
    .menu-open .nav-item {
        display: flex;
        height: 57px;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 15px;
        background: #F5F5FA;
        border-radius: 12px;
    }
    .menu-open .nav-list {
        flex-direction: column;
        width: 100%;
        padding: 64px 12px 0;
        background: #fff;
        border-radius: 12px;
    }
    .menu-open .nav-link {
        color: #24A3FF;
        font-size: 24px;
        line-height: 38px;
        border-bottom: none;
    }
    .menu-open .nav-link:hover {
        color: #F0145A;
    }
    .menu-open .header-adress {
        display: none;
    }
    .main:before {
        width: 90%;
    }
    .main::after {
        width: 82%;
    }
    .splash { 
        background-image: url(../images/svg/mobile-symbol.svg);
        background-repeat: no-repeat; 
        position: relative;
        height: 100%;
        right: 20px;
        background-repeat: no-repeat;
    }
    .heading {
        height: 600px;
        width: 50%;
        display: flex;
        text-align: center;
        position: relative;
        left: 28%;   
    }
    .scroll {
        position: relative;
        right: 10px;
        bottom: 190px;
    }

    .experience {
        display: block;
    }
    .experience-of {
        font-size: 30px;
        line-height: 37px;
        width: 520px;
        transform: translate(-40%, 10px);
    }
    .name-of-experience:not(:last-child) {
        padding: 0;
    }
    .experience-list {
        display: -webkit-box;
        height: 37px;
        margin-bottom: 30px;
        width: 108%;
        overflow-x: auto;
    }
    .experience-border {
        height: 4px;
        width: 315px;
        display: flex;
        position: relative;
        margin: 0;
    }
    .experience-about {
        width: 100%;   
        margin-top: 30px;
    }
    .experience-services {
        font-size: 20px;
        line-height: 24px;
    }
    .services {
        padding-top: 120px;
    }
    .subtitle {
        font-size: 30px;
        line-height: 37px;
    } 
    .s-cards {
        display: block;
    }
    .services-card {
        width: 100%;
        margin-bottom: 30px;
    }
    .grid {
        display: block;
    }
    .slick-initialized .slick-slide {
        position: relative;
        display: block;
        height: 100%;
    }
    .publications {
        padding-top: 30px;
        height: 100%;
    }
    .publication-item-text {
        font-size: 30px;
        line-height: 37px;
    }
    .grid-wrap {
        display: block;
    }
    .p-cards:not(:last-child) {
        margin-right: 0;
    }
    .p-cards:not(:last-child) {
        margin-bottom: 30px;
    }
    .publication-img {
        width: 100%;
    }
    .main-photo {
        height: 500px;
        width: 100%;
        border-radius: 12px 12px 0 0;
    }
    
    .footer {
        padding-top: 30px;
        height: 306px;
    }
    .footer-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-adress {
        flex-direction: column;
        align-items: center;
    }
    .footer-adress-name {
        padding-bottom: 10px;
    }
    .map::before {
        display: none;
    }
    .footer-contacts {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .icon-footer-facebook {
        margin-bottom: 10px;
    }
    .footer-tel {
        margin-bottom: 10px;
    }
    .copyrights {
        flex-direction: column;
        bottom: 0;
        padding-bottom: 30px;
    }
    .footer-tel::before {
        display: none;
    }
    .footer-email::before {
        display: none;
    }

    /*pages*/
    /*services*/
    .menu-open .active-page.nav-item {
        background: #E6E6F0;
    }
    .header-s-mobile-left {
        display: flex;
        height: 57px;
    }
    .icon-s-header-slash {
        height: 26px;
        width: 12px;
    }
    .header-s-services {
        font-size: 20px;
        line-height: 24px;    
    }
    .s-s-services {
        padding-top: 132px;
    }
    /*service-entry*/
    .main-entry {
        height: 1926px;
    }
    .main-entry:before {
        width: 90%;
    }
    .main-entry:after {
        width: 82%;
    }
    .area-container {
        padding: 0 30px;
    }
    .services-include {
        display: block;
    }
    .services-area-wrapper {
        margin-top: 30px;
    }
    .services-area-list {
        width: 100%;
        padding-top: 15px;
    }
    .service-publications {
        padding-top: 30px;
        height: 100%;
    }
    .service-entry-types {
        font-size: 30px;
        line-height: 36px;
    }
    /*popup-form*/
    .popup-form-wrapper {
        padding: 0;
        min-height: 0;
        border-radius: 12px;
    }
    .popup-form {
        width: 100%;
    }
    /*about us*/
    .icon-header-white-facebook {
        display: none;
    }
    .header-s-mobile-left {
        display: flex;
        height: 57px;
    }
    .a-header-adress {
        left: 0;
        position: absolute;
        top: 0;
        height: 45px;
        width: 415px;
        align-items: center;
        background-color:#F5F5FA;
        padding: 0 15px;
    }
    .header-about-services {
        font-size: 20px;
        line-height: 24px;
    }
    /*burger*/
    .burger-icon-white::before,
    .burger-icon-white::after {
        content: "";
        display: block;
        width: 18px;
        height: 2px;
        background: #323264;
    }  
    .burger-icon-inner-white {
        display: block;
        width: 18px;
        height: 2px;
        background: #323264;
    }
    .burger-icon-white {
        border: none;
        background: none;
        width: 32px;
        height: 32px;
        padding: 10px 7px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .a-wrap-legal-services {
        display: block;
        padding: 132px 30px 0 30px;
        height: 991px;
        margin-bottom: 90px;
    }
    .a-about-legal-services {
        width: 100%;
    }
    .a-legal-services {
        font-size: 30px;
        line-height: 37px;
    }
    .a-legal-experience-border {
        margin-left: 0;
        position: relative;
        top: 217px;
        width: 100%;
    }
    .team-photo {
        background-image: url(/images/photo/team-photo-mobile.png);
        height: 114px;
        margin: 30px 0;
    }
    .quality-wrap {
        display: block;
        padding: 0 30px;
        height: 751px;
        margin: 0;
    }
    .quality-text-wrap {
        width: 100%;
    }
    .quality-text:not(:last-child) {
        margin: 0;
    }
    .quality-title {
        padding-top: 30px;
    }
    .carousel-achievements {
        display: none;
    }
    .carousel-achievements-mobile {
        display: flex;
        padding: 0 60px;
        width: 100%;
    }
    .carousel-achievements-mobile.slick-dotted.slick-slider {
        margin-bottom: 0;
    }
    .a-size-mobiles {
       /* width: 255px;
        height: 90px;*/
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        margin-bottom: 60px;
    }
    .carousel-achievements-mobile.slick-initialized .slick-slide  {
        display: flex;
        height: 90px;
        width: 255px;
        border-radius: 12px;
    }
    .carousel-achievements-mobile .slick-dots {
        width: 70%;
    }
    /*team*/
    .main-container-mobile {
        padding: 0 30px;
    }
    .title {
        margin: 0 auto;
        padding: 123px 0 0;
        margin-bottom: 30px;
    }
    .team-wrap {
        display: block;
    }
    .team-wrap:not(:last-child) {
        margin-bottom: 30px;
    }
    .team-cards {
        width: 100%;
    }
    .team-cards:not(:last-child) {
        padding-bottom: 30px;
    }
    .team-photos {
        width: 100%;
        height: 300px;
    }
    
}