* {
    margin: 0 ;
    padding: 0  ;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
li {
    text-decoration: none;
}
/*header*/
.container {
    padding: 0 60px ;
}
.header {
    position: absolute;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    height: 116px;
    align-items: end;
}
.icon-header-logo {
    width: 130px;
    height: 60px;
}
.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.header-adress {
    display: flex;
    align-items: baseline;
    color: #fff;    
}
.language {
    display: flex;
}
.language::after {
    content: "\25CF";
    position: relative;
    top: 1px;
    margin-left: 6px;
}
.lang-name {
    width: 33px;
    height: 25px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 1px;
}
.lang-name:last-child{
    background-color: #F0145A;
}
.lang {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}

.name-adres {
    margin-left:  6px;
    font-size: 16px;
}
.name-adres::after {
    content: "\25CF";
    position: relative;
    margin-left: 6px;
    bottom: 1px;
}
.tel {
    margin-left: 6px;
    font-size: 16px;
    color: #fff;
}
.icon-header-facebook {
    position: relative;
    top: 5px;
    width: 24px;
    height: 24px;
    margin-left: 6px;
    fill: #fff;
}
.tel::after {
    content: "\25CF";
    position: relative;
    margin-left: 6px;
    bottom: 1px;
}

.nav-list {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.nav-link {
    color: #fff;
    margin-left: 15px;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700;
}
/*main*/
.main {
    background: linear-gradient(#323264  0% ,#323264  59.9%, #643E72 100%) ;  
    border-radius: 0 0 12px 12px;       
}
/*.main::after {
    content: "";
    position: absolute;
    border-top: 10px solid #CACADB;
    width: 97%;
    margin: 0 20px;
    border-radius: 0 0 12px 12px; 
}*/
/*.main::before {
    content: "";
    position: absolute;
    margin: 0 40px;
    width: 94%;
    border-radius: 0 0 12px 12px;
    right: 0px;
    border-top: 10px solid #E7E7F2;
}*/
.splash {
    background: url(../images/svg/Symbol.svg) ;
    background-repeat: no-repeat;
    background-position: center center;
    height: 800px;
    display: flex;
}
.heading {
    color: #fff;
    font-size: 38px;
    line-height: 1.21;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.icon-scroll {
    width: 42px;
    height: 42px;
    fill: none;
    position: absolute;
    left: 48%;
    top: 728px;
}
.icon-scroll path:hover {
    fill: #F0145A;
}
.main-container {
    padding: 0 180px;
    margin: 0 auto;
}
.experience {
    height: 303px;
    margin: 60px 0;
    display: flex;
    align-items: center;
}
.experience-of {
    width: 400px;
    text-align: end;
    font-size: 38px;
    line-height: 1.21;
    font-weight: bold;
}
.experience-name.active  {
    background-image:  linear-gradient(#F0145A 0%,#EF8080  100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.name-of-experience:not(:last-child){
    padding-bottom: 30px;
}
.experience-name:hover {
    color: #F0145A;
}
.experience-name {
    color: #B3B3BA;
    padding-top: 30px;
}
.experience-border {
    height: 100%;
    margin: 0 60px;
    font-size: 303px;
    border: 4px solid rgba(255, 255, 255, 0.3);
}
.experience-about {
    width: 581px;    
}
.experience-services {
    font-size: 30px;
    line-height: 37px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
}
.content {
    display: none;
    font-size: 19px;
    line-height: 30px;
    color: #fff;
}
.services-item {
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    color: #24A3FF;
}
.services-item-text {
    font-size: 38px;
    line-height: 46px;
    font-weight: bold;
    background-image: linear-gradient(#F0145A  0%,#EF8080  100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px 0 60px;
}
.s-cards {
    display: flex;
    margin-bottom: 60px;
}
.s-cards:last-child {
    padding-bottom: 60px;
}
.services-card {
    width: 400px;
    display: block;
}
.services-card:not(:last-child) {
    margin-right: 60px;
}
.icon-ecommerce {
    padding: 12px;    
}
.icon-support {
    padding: 13px;
}
.icon-coprorate {
    padding: 14px;
}
.icon-trust {
    padding: 14px;
}
.icon-protection {
    padding: 14px;
}
.icon-court {
    padding: 14px;
}
.icon-background{
    width: 92px;
    height: 92px;
    background: #fff;
    border-radius: 24px;
    margin-bottom: 30px;
}
.services-types {
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    color: #24A3FF;
}
.about-types {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin-top: 15px;
}
/*team*/
.team {
    height: 344px;
    margin-bottom: 60px;
    display: flex;
}
.main-photo {
    width: 400px;
    height: 344px;
    border-radius: 12px 0 0 12px;
}
.team-about {
    padding: 30px;
    background: #F5F5FA;
    border-radius: 0 12px 12px 0;
}
.team-item {
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    color: #24A3FF;
}
.team-item-text {
    margin: 5px 0 30px;
    font-size: 38px;
    line-height: 46px;
    font-weight: bold;
    background-image: linear-gradient(#F0145A  0%,#EF8080  100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.team-workers {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #B3B3BA;
    margin-bottom: 6px;
}
.team-position {
    font-size: 14px;
    line-height: 22px;
    color: #B3B3BA;
}
.slick-initialized .slick-slide {
    display: flex;
}
.slick-dots {
    bottom: 10px;
}
.slick-dots li.slick-active button:before{
    color: #24A3FF;
}
.slick-dots li button:before {
    font-size: 16px;
    line-height: 16px;
    color: #24A3FF;
    opacity: 20%;
}
.slick-dotted.slick-slider {
    margin-bottom: 50px;
} 

/*Clients*/

.clients-trust {
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    color: #323264;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
/*Grid*/
.grid {
    display: grid;
    grid-template-columns: 360px 360px 360px 360px;
}
.b-size {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hillel {
    background: #1C4280;
}
.wannabiz {
    background: #143646;
}
.tapgerine {
    background-color: #F48B30;
}
.Dlook {
    background: #9E4DC3;
}
.orangear {
    background: #FD9339;
}
.adtelligent {
    background: #E2E2E4;
}
.clickky {
    background: #C71C36;
}
.eco {
    background: #DCF3F9;
}
.infatek {
    background: #EAEAEA;
}
.city-park {
    background: #282240;
}
.artprint {
    background: #1D4568;
}
.ultimatecard {
    background: #000;
}

/*Publication*/
.publications {
    height: 583px;
    padding-top: 30px;
    background: #F5F5FA;  
}
.publication-item {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: #24A3FF;
}
.publication-item-text {
    margin: 10px 0 30px;
    font-size: 38px;
    line-height: 46px;
    font-weight: bold;
    background-image: linear-gradient(#F0145A  0%,#EF8080  100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*p-cards*/
.p-cards {
    width: 420px;
    height: 450px;  
    background: #fff;
    border-radius: 8px;
}
.flex {
    display: flex;
}
.p-cards:not(:last-child) {
    margin-right: 30px;
}
.p-about {
    padding: 30px 30px 0;
}
.publication-name {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #24A3FF;
}
.publication-date {
    margin-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    line-height: 15px;
    color: #B3B3BA;
    border-bottom: 4px solid#E6E6F0;
    text-transform: uppercase;
}
.publication-text {
    margin-top: 15px;
    font-size: 14px;
    line-height: 22px;
    font-family: "Montserrat";
}
/*footer*/
.footer {
    height: 171px;
    background: #F5F5FA;
    padding-top: 30px;
}
.footer-wrap {
    border-top: 2px solid #E6E6F0;
}
.footer-adress {
    display: flex;
    align-items: baseline;
    padding-top: 30px;
    margin-bottom: 21px;
}
.footer-adress-name {
    font-size: 16px;
    line-height: 20px;
    color: #323264;
}
.map::before {
    content: "\25CF";
    position: relative;
    bottom: 1px;
    margin:0 10px;
    color: #B3B3BA;
}
.map {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    color: #24A3FF;
    font-weight: 700;
}
.icon-footer-facebook {
    width: 38px;
    height: 38px;
}
.footer-contacts {
    display: flex;
    align-items: center;
}
.footer-tel {
    font-size: 16px;
    line-height: 20px;
    color: #46466E;
    margin-left: 10px;
}
.footer-tel::before {
    content: "\25CF";
    position: relative;
    margin-right: 10px;
    bottom: 1px;
    color: #B3B3BA;
}
.footer-email {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #24A3FF;    
    margin-left: 10px;
}
.footer-email::before {
    content: "\25CF";
    position: relative;
    margin-right: 10px;
    bottom: 1px;
    color: #B3B3BA;
}
.copyrights {
    font-size: 16px;
    line-height: 20px;
    color: #B3B3BA;
    display: flex;
    justify-content: end;
    position: relative; 
    bottom: 83px;     
}