* {
    margin: 0 ;
    padding: 0  ;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
}
a {
    text-decoration: none;
    height: 100%;
}
ul {
    list-style-type: none;
}
li {
    text-decoration: none;
}
/*header*/
.container {
    padding: 0 60px ;
}
.header {
    position: absolute;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    height: 116px;
    align-items: end;
    z-index: 5;
}
.header-mobile {
    display: flex;
}
.icon-header-logo {
    width: 130px;
    height: 60px;
}
.icon-header-slash {
    display: none;
}
.header-services {
    display: none;
}
.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.header-adress {
    display: flex;
    align-items: baseline;
    color: #fff;    
}
.language {
    display: flex;
}
.language::after {
    content: "\25CF";
    position: relative;
    top: 1px;
    margin-left: 6px;
}
.lang-name {
    width: 33px;
    height: 25px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 1px;
}
.lang-name:last-child{
    background-color: #F0145A;
}
.lang-name:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}
.lang {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    position: relative;
    padding: 5px 7px;
}
.name-adres {
    margin-left:  6px;
    font-size: 16px;
}
.name-adres::after {
    content: "\25CF";
    position: relative;
    margin-left: 6px;
    bottom: 1px;
}
.tel {
    margin-left: 6px;
    font-size: 16px;
    color: #fff;
}
.tel:hover,
.name-adres:hover,
.footer-tel:hover,
.footer-adress:hover,
.map:hover,
.footer-adress-name:hover,
.facebook-text:hover,
.contact-email:hover,
.tel-contact:hover,
.name-adres-contact:hover,
.footer-email:hover {
    color: #F0145A;
}
.icon-header-facebook {
    position: relative;
    top: 5px;
    width: 24px;
    height: 24px;
    margin-left: 6px;
    fill: #fff;
}
.icon-header-facebook:hover {
    fill: #F0145A;
}
.tel::after {
    content: "\25CF";
    position: relative;
    margin-left: 6px;
    bottom: 1px;
}
.burger-icon {
    display: none;
}
.nav-list {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.nav-link {
    color: #fff;
    margin-left: 15px;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 3px;
}
.nav-link::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: #fff;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    width: 0;
}

.nav-link:hover::after {
    width: 100%; 
    left: 0; 
}

/*main*/
.main {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%) ;  
    border-radius: 0 0 12px 12px;     
    position: relative; 
}
.main::after {
    content: "";
    position: absolute;
    background:#E7E7F2;
    width: 94%;
    height: 20px;
    bottom: -20px;
    left: 40px;
    border-radius: 0 0 12px 12px; 
}
.main::before {
    content: "";
    display: block;
    width: 97%;
    height: 10px;
    background:  #cacadb;
    border-radius: 0 0 12px 12px;
    position: absolute;
    bottom: -10px;
    left: 20px;
    transform-origin:center bottom  ;
    z-index: 1;
}
.splash {
    background: url(../images/svg/Symbol.svg) ;
    background-repeat: no-repeat;
    background-position: center center;
    height: 800px;
    display: flex;
}
.heading {
    color: #fff;
    font-size: 38px;
    line-height: 1.21;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.icon-scroll {
    width: 42px;
    height: 42px;
    fill: none;
    stroke: #fff;
    position: absolute;
    left: 48%;
    top: 728px;
}
.icon-scroll:hover {
    stroke: #F0145A;
}
.main-container {
    padding: 0 180px;
    margin: 0 auto;
}
/*Experience*/
.experience {
    height: 303px;
    margin: 60px 0;
    display: flex;
    align-items: center;
}
.experience-of {
    width: 400px;
    text-align: end;
    font-size: 38px;
    line-height: 1.21;
    font-weight: bold;
}
.experience-name.active  {
    background-image:  linear-gradient(90deg,#F0145A 0%,#EF8080  100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.name-of-experience:not(:last-child){
    padding-bottom: 30px;
}
.experience-name:hover {
    color: #F0145A;
}
.experience-name {
    color: #B3B3BA;
}
.experience-border {
    height: 100%;
    margin: 0 60px;
    font-size: 303px;
    border: 4px solid rgba(255, 255, 255, 0.3);
}
.experience-about {
    width: 581px;    
}
.experience-services {
    font-size: 30px;
    line-height: 37px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
}
.content {
    display: none;
    font-size: 19px;
    line-height: 30px;
    color: #fff;
}
/*Services*/
.services-item {
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    color: #24A3FF;
}
.services-item:hover {
    color: #F0145A;
}
.subtitle {
    font-size: 38px;
    line-height: 46px;
    font-weight: bold;
    background-image: linear-gradient(90deg,#F0145A  0%,#EF8080  100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px 0 60px;
}
.s-cards {
    display: flex;
    margin-bottom: 60px;
}
.s-cards:last-child {
    padding-bottom: 60px;
}
.services-card {
    width: 400px;
    display: block;
}
.services-card:not(:last-child) {
    margin-right: 60px;
}
.icon-ecommerce {
    padding: 12px;    
}
.icon-support {
    padding: 13px;
}
.icon-coprorate {
    padding: 14px;
}
.icon-trust {
    padding: 14px;
}
.icon-protection {
    padding: 14px;
}
.icon-court {
    padding: 14px;
}
.icon-background{
    width: 92px;
    height: 92px;
    background: #fff;
    border-radius: 24px;
    margin-bottom: 30px;
}
.services-types {
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    color: #24A3FF;
}
.about-types {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin-top: 15px;
}
/*team*/
.team {
    height: 344px;
    margin-bottom: 60px;
    display: flex;
}
.main-photo {
    width: 400px;
    height: 344px;
    border-radius: 12px 0 0 12px;
}
.team-about {
    padding: 30px;
    background: #F5F5FA;
    border-radius: 0 12px 12px 0;
}
.team-item {
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    color: #24A3FF;
}
.team-item-text {
    margin: 5px 0 30px;
    font-size: 38px;
    line-height: 46px;
    font-weight: bold;
    background-image: linear-gradient(#F0145A  0%,#EF8080  100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.team-workers {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #B3B3BA;
    margin-bottom: 6px;
}
.team-position {
    font-size: 14px;
    line-height: 22px;
    color: #B3B3BA;
}
.slick-initialized .slick-slide {
    display: flex;
}
.slick-dots {
    bottom: 10px;
}
.slick-dots li.slick-active button:before {
    color: #24A3FF;
}
.slick-dots li button:before {
    font-size: 16px;
    line-height: 16px;
    color: #24A3FF;
    opacity: 20%;
}

/*Clients*/

.clients-trust {
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    color: #323264;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
/*Grid*/
.grid {
    display: grid;
    grid-template-columns: 360px 360px 360px 360px;
}
.b-size {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hillel {
    background: #1C4280;
}
.wannabiz {
    background: #143646;
}
.tapgerine {
    background-color: #F48B30;
}
.Dlook {
    background: #9E4DC3;
}
.orangear {
    background: #FD9339;
}
.adtelligent {
    background: #E2E2E4;
}
.clickky {
    background: #C71C36;
}
.eco {
    background: #DCF3F9;
}
.infatek {
    background: #EAEAEA;
}
.city-park {
    background: #282240;
}
.artprint {
    background: #1D4568;
}
.ultimatecard {
    background: #000;
}

/*Publication*/
.publications {
    height: 583px;
    padding-top: 30px;
    background: #F5F5FA;  
}
.publication-item {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: #24A3FF;
}

/*p-cards*/
.p-cards {  
    background: #fff;
    border-radius: 8px;
    padding-bottom: 30px;
}
.grid-wrap {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
}
.p-cards:not(:last-child) {
    margin-right: 30px;
}
.p-about {
    padding: 30px 30px 0;
}
.publication-name {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #24A3FF;
}
.publication-date {
    margin-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    line-height: 15px;
    color: #B3B3BA;
    border-bottom: 4px solid#E6E6F0;
    text-transform: uppercase;
}
.publication-text {
    margin-top: 15px;
    font-size: 14px;
    line-height: 22px;
    font-family: "Montserrat";
}
/*footer*/
.footer {
    height: 171px;
    background: #F5F5FA;
    padding-top: 30px;
}
.footer-wrap {
    border-top: 2px solid #E6E6F0;
}
.footer-adress {
    display: flex;
    align-items: baseline;
    padding-top: 30px;
    margin-bottom: 21px;
}
.footer-adress-name {
    font-size: 16px;
    line-height: 20px;
    color: #323264;
}
.map::before {
    content: "\25CF";
    position: relative;
    bottom: 1px;
    margin:0 10px;
    color: #B3B3BA;
}
.map {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    color: #24A3FF;
    font-weight: 700;
}
.icon-footer-facebook {
    width: 38px;
    height: 38px;
    fill: #24A3FF;
}
.icon-footer-facebook:hover {
    fill: #F0145A;
}
.footer-contacts {
    display: flex;
    align-items: center;
}

.footer-tel {
    font-size: 16px;
    line-height: 20px;
    color: #46466E;
    margin-left: 10px;
}
.footer-tel::before {
    content: "\25CF";
    position: relative;
    margin-right: 10px;
    bottom: 1px;
    color: #B3B3BA;
}
.footer-email {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #24A3FF;    
    margin-left: 10px;
}
.footer-email:hover {
    color: #F0145A;
}
.footer-email::before {
    content: "\25CF";
    position: relative;
    margin-right: 10px;
    bottom: 1px;
    color: #B3B3BA;
}
.copyrights {
    font-size: 16px;
    line-height: 20px;
    color: #B3B3BA;
    display: flex;
    justify-content: end;
    position: relative; 
    bottom: 83px;     
}
/*PAGES*/
/*Services*/
.active-page .nav-link {
    color: #F0145A;
    border-bottom: 2px solid #F0145A;
}
.s-s-services {
    padding-top: 176px;
}
.header-s-mobile-left {
    display: flex;
}
.icon-s-header-slash {
    width: 21px;
    height: 47px;
    margin: 0 4px;
}
.header-s-services {    
    display: flex;
    font-size: 36px;
    line-height: 44px;
    align-items: baseline;
    color: #fff;
    font-weight: 400;
}
/*Service-entry*/
.main-entry {
    height: 1160px;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%) ;  
    border-radius: 0 0 12px 12px;     
    position: relative;
}
.main-entry::after {
    content: "";
    position: absolute;
    background:#E7E7F2;
    width: 94%;
    height: 20px;
    bottom: -20px;
    left: 40px;
    border-radius: 0 0 12px 12px; 
}
.main-entry::before {
    content: "";
    display: block;
    width: 97%;
    height: 10px;
    background:  #cacadb;
    border-radius: 0 0 12px 12px;
    position: absolute;
    bottom: -10px;
    left: 20px;
    transform-origin:center bottom  ;
    z-index: 1;
}
.service-entry {
    padding-top: 176px;
    text-align: center;
}
.service-entry-types {
    margin: 0 0 15px;
}
.entry-box {
    display: block;
    text-align: center;
    margin: 0 auto 28px;
    transform: translate(0%, 0px);
}
.entry-types {
    margin-bottom: 28px;
}
.service-entry-text {
    font-size: 19px;
    line-height: 30px;
    color: #fff;
    padding-bottom: 10px;
}
.entry-button-box {
    margin-top: 18px;
}
 
.button-entry {
    width: 208px;
    height: 56px;
    border-radius: 12px;
    filter: drop-shadow(0px 0px 2px );
    background: #24A3FF 50%;
    box-shadow: inset 100px 100px rgba(36, 163, 255, 0.5);
}
.button-entry-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 30px;
    margin: 0 auto;
}
.services-area-wrapper {
    height: 396px;
    margin-top: 60px;
}

.services-area {
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    padding-top: 30px;
    border-top: 4px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}
.services-include {
    display: flex;
} 
.services-area-list {
    width: 510px;
}
.services-area-item::before {
    content: "\2022";
    color: #F0145A;
    margin-right: 8px;
}
.services-area-list:not(:last-child) {
    margin-right: 60px;
}
.services-area-item {
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    display: flex;
}
.services-area-item:not(:last-child) {
    margin-bottom: 15px;
}
.service-publications {
    height: 590px;
    margin-top: 60px;
    background: #F5F5FA;
    border-radius: 12px 12px 0 0;
    padding-top: 30px;
}
/*popup*/
.popup-form-wrapper {
    min-height: 1089px;
    background: #323264;
    opacity: 70%;
    padding-top: 243px;
}
.poup-title {
    margin-bottom: 30px;
}
.popup-form {
    width: 650px;
    height: 612px;
    background: #F5F5FA;
    border-radius: 12px;
    margin: 0 auto;
    padding: 30px;   
}
.popup-title {
    display: flex;
    justify-content: space-between;
}
#name,
#tel,
#email {
    width: 100%;
    height: 56px;
    border-radius: 8px;
    background: #fff;
    border: #fff;
    padding: 15px;
    margin-bottom: 15px;
}
#name::placeholder,
#tel::placeholder,
#email::placeholder,
#comments::placeholder {
    width: 16px;
    line-height: 26px;
    color: #B3B3BA;
    width: 100%;
}
.comments-text {
    resize: none;
    width: 100%;
    height: 130px;
    border: #fff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 30px;
}
.content-text::placeholder {
    width: 16px;
    line-height: 26px;
    color: #B3B3BA;
    width: 100%;    
}
.popup-question {
    font-size: 14px;
    line-height: 17px;
    color: #B3B3BA;
    margin-bottom: 15px;
}
.popup-buttom-send {
    width: 100%;
    height: 56px;
    filter: drop-shadow(0px 0px 2px );
    background: #24A3FF 50%;
    box-shadow: inset 100px 100px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    border: #fff;
    cursor: pointer;
}
 /*burger icon*/
.popup-burger-icon {
    border: none;
    background: none;
    width: 32px;
    height: 32px;
    padding: 10px 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.popup-burger-icon::before,
.popup-burger-icon::after  {
    content: "";
    display: block;
    width: 18px;
    height: 2px;
    background: #fff;
}  
.burger {
    height: 32px;
}
.popup-burger-icon::before {
    transform: rotate(45deg);
    transform-origin: 0 1px;
    background: #EC6F5D;
    position: relative;
    left: 5px;
    z-index: 10;
}
.popup-burger-icon::after {
    transform: rotate(-45deg);
    transform-origin: 0 12px;
    position: relative;
    left: 13px;
    background: #EC6F5D;
    z-index: 10;
}
.footer-border-none {
    border-top: none;
    padding-top: 0;
}
/*About us*/
.header-about-services {
    font-size: 36px;
    line-height: 44px;
    color: #323264;
    font-weight: 400;
}
.a-language::after,
.lang-white,
.a-adres,
.a-tel {
    color: #B3B3BA;
}
.lang-white:hover {
    background: #F5F5FA;
    border-radius: 8px;
}
.icon-header-white-facebook {
    fill: #B3B3BA;
    width: 24px;
    height: 24px;
    position: relative;
    top: 5px;
    margin-left: 6px;
}
.icon-header-white-facebook:hover {
    fill: #F0145A;
}
.a-link {
    color: #24A3FF;
}
.a-link::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: #24A3FF;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    width: 0;
}
.active-page .nav-link::after {
    display: none;
}
/*main-about*/
.a-wrap-legal-services {
    padding-top: 176px;
    display: flex;
    margin-bottom: 60px;
}
.a-about-legal-services {
    width: 662px;
    height: 380px;
}
.a-legal-experience-border {
    border-left: 4px solid #E6E6F0;
    margin-left: 30px;
    width: 388px;
    height: 322px;
    
}
.a-wrap-legal-experience {
    width: 354px;
}
.a-legal-services {
    margin-bottom: 28px;
}
.a-a-legal-services {
    font-size: 19px;
    line-height: 30px;
}
.a-a-legal-services:not(:last-child) {
    padding-bottom: 20px;
}
.a-legal-experience {
    padding-left: 34px;
}
.a-legal-experience:not(:last-child) {
    margin-bottom: 40px;
    
}
.icon-legal-experience {
    width: 32px;
    height: 32px;
    top: 3px;
    position: relative;
}

.a-numbers {
    margin-left: 8px;
    font-size: 36px;
    line-height: 44px;
    font-weight: bold;
}
.a-legal-text {
    font-size: 16px;
    line-height: 20px;
    color: #323264;
    padding-top: 10px;
}
.team-photo {
    height: 438px;
    background-image: url(../images/photo/team-photo.png);
}
.quality-wrap {
    margin: 60px auto;
    display: flex;
    height: 100%;
}
.quality-wrap :not(:last-child) {
    margin-right: 60px;
}
.quality-text-wrap {
    width: 658px;
}
.quality-text {
    font-size: 19px;
    line-height: 30px;
}
.quality-text:not(:last-child){
    margin-bottom: 20px;
}

.quality-title {
    width: 362px;
    margin: 0;
}

.achievements-wrap {
    background: #F5F5FA;
    padding-bottom: 1px;
}
.achievements-subtitle {
    font-size: 14px;
    line-height: 17px;
    color: #323264;
    padding: 30px 0;
    display: flex;
    justify-content: center;
}
.achievements-logo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
.a-size {
    height: 110px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.carousel-achievements-mobile {
    display: none;
}
/*footer*/
.a-footer {
    background: #F5F5FA;
}
.carousel-achievements-mobile {
    display: none;
}
/*Team*/
.title {
    padding-top: 176px;
    margin: 0 0 60px;
}
.team-wrap {
    display: flex;
    margin-bottom: 60px;
}
.team-cards {
    width: 400px;
}
.team-cards:not(:last-child) {
    margin-right: 60px;
}
.team-photos {
    margin-bottom: 15px;
}
.team-color {
    color: #323264;
}
.arrow-right-wrap {
    position: relative;
    display: flex;
    justify-content: flex-end;
    bottom: 45px;
}
.arrow-right {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #F5F5FA;
}
.arrow-right::after {
    position: absolute;
    content: "\203A";
    color: #24A3FF;
    font-size: 32px;
    line-height: 20px;
    left: 12px;
    bottom: 10px;
}
.arrow-right:hover::after {
    color: #F0145A;
}
/*team-entry*/
.individual-card {
    display: flex;
    padding: 176px 180px 60px;
}
.team-entry-photo {
    margin-right: 60px;
}
.team-individual-photo {
    width: 400px;
    height: 500px;
}
.information-data {
    padding: 0 0 30px;
}
.email {
    font-size: 16px;
    line-height: 20px;
    color: #24A3FF;
}
.email::before {
    content: "\25CF";
    position: relative;
    bottom: 1px;
    margin:0 10px;
    color: #B3B3BA;
}
.linkedin {
    font-size: 16px;
    line-height: 20px;
    color: #24A3FF;
}
.linkedin::before {
    content: "\25CF";
    position: relative;
    bottom: 1px;
    margin:0 10px;
    color: #B3B3BA;
}
.team-workers-wrap {
    border-top: 4px solid #E6E6F0;
    padding-top: 30px;
} 
.team-workers-about {
    font-size: 16px;
    line-height: 26px;
    width: 620px;
}
.team-workers-about:nth-child(2) {
    padding-top: 10px;
}
.skills {
    font-size: 14px;
    line-height: 17px;
    color: #323264;
    font-weight: bold;
    text-transform: uppercase;
    margin: 30px auto 15px;
}
.university-name {
    font-size: 16px;
    line-height: 26px;
}
/*Contacts*/
.popup-contact-wrapper {
    padding-top: 176px;
    display: flex;
    margin-bottom: 60px;
}
.contacts-popup {
    width: 510px;
}
.name-adres-contact {
    font-size: 21px;
    line-height: 30px;
    display: grid;
    padding-bottom: 30px;
    border-bottom: 4px solid #E6E6F0;
    color: #323264;
    margin-bottom: 30px;
}
.communication {
    display: grid;
}
.tel-contact {
    font-size: 21px;
    line-height: 30px;
    color: #323264;
    margin: 30px 0 15px;
}
.contact-email {
    font-size: 21px;
    line-height: 30px;
    color: #24A3FF;
    padding: 15px 0 30px;
    border-bottom: 4px solid #E6E6F0;
}
.popup-contacts {
    width: 510px;
    margin:0 0 0 60px;
}
.contacts-footer {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.facebook-text {
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    color: #24A3FF;
    margin-left: 10px;
    display: grid;
    text-transform: uppercase;
}
.popup-title-text {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 30px;
}
